.search {
  border-bottom: 1px solid #424242;
  width: calc(100% - 140px);
  margin: auto;
}

.search__line {
  display: grid;
  grid-template-columns: 1fr 70px;
  gap: 10px;
  height: 44px;
  margin-top: 80px;
}

.search__line_type_error {
  margin: 0 0 10px;
}

.search__input {
  background-color: #2F2F2F;
  color: #8B8B8B;
  border: none;
  border-radius: 5px;
  padding-left: 22px;
  font-size: 14px;
  line-height: 18px;
}

.text-input-error {
  margin: 0 0 0 40px;
  display: none;
  width: 100%;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #FF4062;
}

.text-input-error_active {
  display: flex;
}

.search__button {
  background-color: #4285F4;
  color: #FFF;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
}

.search__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .search {
    width: calc(100% - 60px);
  }

  .filter {
    margin-top: 31px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 480px) {
  .search {
    width: calc(100% - 28px);
  }

  .filter {
    margin-top: 31px;
    margin-bottom: 40px;
  }

  .search__line {
    display: grid;
    grid-template-columns: 212px 70px;
  }
}