.search {
  border-bottom: 1px solid #424242;
  width: calc(100% - 140px);
  margin: auto;
}

.search__line {
  display: grid;
  grid-template-columns: 1fr 70px;
  gap: 10px;
  height: 44px;
  margin-top: 80px;
}

.search__input {
  background-color: #2F2F2F;
  color: #8B8B8B;
  border: none;
  border-radius: 5px;
  padding-left: 22px;
  font-size: 14px;
  line-height: 18px;
}

.search__button {
  background-color: #4285F4;
  color: #FFF;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 42px;
}

.filter__input {
  visibility: hidden;
  opacity: 0;
  width: 0;
  height: 0;
}

.filter__lable {
  background-color: #EBEBEB;
  width: 36px;
  height: 20px;
  border-radius: 20px;
  display: block;
  cursor: pointer;
  position: relative;
}

.filter__lable::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #FFFFFF;
}

.filter__input:checked + .filter__lable {
  background-color: #3DDC84;
}

.filter__input:checked + .filter__lable::after {
  left: 18px;
}

.filter__text {
  font-size: 12px;
  line-height: 18px;
  margin-left: 12px;
}

@media screen and (max-width: 768px) {
  .search {
    width: calc(100% - 60px);
  }

  .filter {
    margin-top: 31px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 480px) {
  .search {
    width: calc(100% - 28px);
  }

  .filter {
    margin-top: 31px;
    margin-bottom: 40px;
  }

  .search__line {
    display: grid;
    grid-template-columns: 212px 70px;
  }
}